 p.difinition {
     text-align: center;
     color: white;
     font-style: oblique;
     font-size: 50px;
     background-color: black;
 }
 
 #mid-head p {
     text-align: center;
     color: red;
     font-family: 'Times New Roman', Times, serif;
     font-size: 10vw;
     font-style: italic
 }
 
 h4 p {
     text-align: right;
     color: darkolivegreen;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: normal;
     font-size: xx-large;
 }
 
 #property p {
     text-align: center;
     color: blue;
     font-family: 'Courier New', Courier, monospace;
     font-style: oblique;
     font-size: 2vw;
 }
 
 body {
     background-image: image("src/img/pic.jpg");
 }
 
 .id-card {
     border: 2px;
     border-block-color: blue;
     height: 1000px;
     width: 400px;
     margin: auto;
 }